body {background-color: rgb(211, 219, 93);}
h1 {color: blue; }
h2 {color: rgb(0, 0, 0)}
th {background-color: rgb(255, 94, 0);}
td {background-color: rgb(252, 251, 255);}
td {color: blue ;}
h3 {color: blue;}
body {background-image: url('222.jpg');
    height: 150px;
    background-size:cover;
    background-position: center;
}